<style>
    .table,th,td{
        border: 1px solid black; 
    }
</style>
<p>english-regular-verbs-page works!</p>
<p>規則</p>
<p>1.V + ed</p>
<p>2.Ve + d</p>
<p>3.是 V 字尾為子音 + y -> 去 y+ied</p>
<p>4.是 V 字尾為母音 + y -> 直接+ed</p>
<p>5.字尾為短母音 ＋ 子音 -> 重複字尾+ed</p>
<body>
    <table>
      <tr style="height: 24px">
        <th id="0R0" style="height: 24px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 24px">1</div>
        </th>
        <td class="s0" dir="ltr" colspan="6">
          <a target="_blank" rel="noreferrer" href="">過去式動詞規則變化</a>
      </tr>
      <tr style="height: 24px">
        <th id="0R1" style="height: 24px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 24px">2</div>
        </th>
        <td class="s2" dir="ltr">現在式</td>
        <td class="s2" dir="ltr"></td>
        <td class="s2" dir="ltr">過去式</td>
        <td class="s2" dir="ltr">現在式</td>
        <td class="s2" dir="ltr"></td>
        <td class="s2" dir="ltr">過去式</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s3" dir="ltr">climb</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">climbed</td>
        <td class="s3" dir="ltr">hurry</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">hurried</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s3" dir="ltr">close</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">closed</td>
        <td class="s3" dir="ltr">love</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">loved</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s3" dir="ltr">start</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">started</td>
        <td class="s3" dir="ltr">open</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">opened</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s3" dir="ltr">want</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">wanted</td>
        <td class="s3" dir="ltr">jog</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">jogged</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s3" dir="ltr">jump</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">jumped</td>
        <td class="s3" dir="ltr">shop</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">shopped</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s3" dir="ltr">help</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">helped</td>
        <td class="s3" dir="ltr">stop</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">stopped</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s3" dir="ltr">cook</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">cooked</td>
        <td class="s3" dir="ltr">滴drop</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">dropped</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s3" dir="ltr">walk</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">walked</td>
        <td class="s3" dir="ltr">計畫plan</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">planned</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 20px">11</div>
        </th>
        <td class="s3" dir="ltr">play</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">played</td>
        <td class="s3" dir="ltr">打盹nod</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">nodded</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 20px">12</div>
        </th>
        <td class="s3" dir="ltr">learn</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">learned</td>
        <td class="s3" dir="ltr">哄騙kid</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">kidded</td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 20px">13</div>
        </th>
        <td class="s3" dir="ltr">envy</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">envied</td>
        <td class="s3" dir="ltr"></td>
        <td class="s3" dir="ltr"></td>
        <td class="s3" dir="ltr"></td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 20px">14</div>
        </th>
        <td class="s3" dir="ltr">live</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">lived</td>
        <td class="s3" dir="ltr"></td>
        <td class="s3" dir="ltr"></td>
        <td class="s3" dir="ltr"></td>
      </tr>
      <tr style="height: 20px">
        <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
          <div class="row-header-wrapper" style="line-height: 20px">15</div>
        </th>
        <td class="s3" dir="ltr">study</td>
        <td class="s3" dir="ltr">-></td>
        <td class="s3" dir="ltr">studied</td>
        <td class="s3" dir="ltr"></td>
        <td class="s3" dir="ltr"></td>
        <td class="s3" dir="ltr"></td>
      </tr>
    </table>
  </body>