
<style>
.table,th,td{
    border: 1px solid black; 
}
</style>
<p>english-irregular-verbs-page works!</p>
<body>
    <table>
        <tr style="height: 24px">
          <th id="0R0" style="height: 24px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 24px">1</div>
          </th>
          <td class="s0" dir="ltr" colspan="6">
            <a target="_blank" rel="noreferrer" href="">過去式不規則動詞變化</a>
        </tr>
        <tr style="height: 24px">
          <th id="0R1" style="height: 24px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 24px">2</div>
          </th>
          <td class="s2" dir="ltr">原型</td>
          <td class="s2" dir="ltr"></td>
          <td class="s2" dir="ltr">過去式</td>
          <td class="s2" dir="ltr">原型</td>
          <td class="s2" dir="ltr"></td>
          <td class="s2" dir="ltr">過去式</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">3</div>
          </th>
          <td class="s3" dir="ltr">take</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">took</td>
          <td class="s3" dir="ltr">meet</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">met</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">4</div>
          </th>
          <td class="s3" dir="ltr">teach</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">taught</td>
          <td class="s3" dir="ltr">know</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">knew</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">5</div>
          </th>
          <td class="s3" dir="ltr">say</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">said</td>
          <td class="s3" dir="ltr">make</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">made</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">6</div>
          </th>
          <td class="s3" dir="ltr">grow</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">grew</td>
          <td class="s3" dir="ltr">stand</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">stood</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">7</div>
          </th>
          <td class="s3" dir="ltr">come</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">came</td>
          <td class="s3" dir="ltr">draw</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">drew</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">8</div>
          </th>
          <td class="s3" dir="ltr">go</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">went</td>
          <td class="s3" dir="ltr">sell</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">sold</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">9</div>
          </th>
          <td class="s3" dir="ltr">see</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">saw</td>
          <td class="s3" dir="ltr">hide</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">hid</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">10</div>
          </th>
          <td class="s3" dir="ltr">have</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">had</td>
          <td class="s3" dir="ltr">feed</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">fed</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">11</div>
          </th>
          <td class="s3" dir="ltr">swim</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">swam</td>
          <td class="s3" dir="ltr">wake</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">woke</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">12</div>
          </th>
          <td class="s3" dir="ltr">ride</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">rode</td>
          <td class="s3" dir="ltr">forget</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">forgot</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">13</div>
          </th>
          <td class="s3" dir="ltr">eat</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">ate</td>
          <td class="s3" dir="ltr">give</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">gave</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">14</div>
          </th>
          <td class="s3" dir="ltr">do</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">did</td>
          <td class="s3" dir="ltr">speak</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">spoke</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">15</div>
          </th>
          <td class="s3" dir="ltr">blow</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">blew</td>
          <td class="s3" dir="ltr">mean</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">meant</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">16</div>
          </th>
          <td class="s3" dir="ltr">drink</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">drank</td>
          <td class="s3" dir="ltr">cut</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">cut</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">17</div>
          </th>
          <td class="s3" dir="ltr">sit</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">sat</td>
          <td class="s3" dir="ltr">put</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">put</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">18</div>
          </th>
          <td class="s3" dir="ltr">get</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">got</td>
          <td class="s3" dir="ltr">read</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">read</td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">19</div>
          </th>
          <td class="s3" dir="ltr">sleep</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">slept</td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">20</div>
          </th>
          <td class="s3" dir="ltr">shake</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">shook</td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">21</div>
          </th>
          <td class="s3" dir="ltr">wear</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">wore</td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
        </tr>
        <tr style="height: 20px">
          <th id="0R2" style="height: 20px;" class="row-headers-background row-header-shim">
            <div class="row-header-wrapper" style="line-height: 20px">22</div>
          </th>
          <td class="s3" dir="ltr">catch</td>
          <td class="s3" dir="ltr">-></td>
          <td class="s3" dir="ltr">caught</td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
        </tr>
    </table>
</body>
